/* Add mobile styles for the component here. */ 

.page { 
    align-items: center; 
    flex-direction: column; 
    } 
    .form { 
    margin-left: 30; 
    margin-right: 30; 
    vertical-align: middle; 
    } 
    TextField{ 
    margin-left: 16; 
    margin-right: 16; 
    margin-bottom: 10; 
    color: black; 
    } 
    Image { 
    margin-top: 120; 
    }