<form [formGroup]="profileForm1" (ngSubmit)="updateTeam(profileForm1.value)"> 
  <div class="box"> 
  
  <div class="flex-container"> 
  <div class= "colm-1"> 
  <!-- display the teamname field --> 
  <label for="tname"><b>Team Name</b> 
  <input type="text" formControlName="teamName" > 
  </label> 
  <!-- display the revenue --> 
  <br> 
  <label for="revenue"><b>Revenue</b>	
  <input type="text" formControlName="revenue" > 
  </label><br> 
  <button type="submit" class="btn">Add</button> 
  
  </div> 
  </div> 
  </div> 
  </form>